[Desktop Entry]
Encoding=UTF-8
Name=Link to file:///home/rotten/Desktop/site/website-master/.env.example
Type=Link
URL=file:///home/rotten/Desktop/site/website-master/.env.example
Icon=text-plain
